/* Applique une couleur de fond personnalisée à toutes les cartes */
.card {
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
  }

  .mauve {
    background-color: #a9a3ff; /* Couleur claire de fond */
    border: 1px solid #ddd; /* Bordure subtile */
  }
  /* Ajoute un effet au survol*/
  .mauve:hover {
    background-color: #ffffff; /* Couleur légèrement différente au survol */
    transition: all 0.3s ease-in-out; /* Animation fluide */
    border-color: #a9a3ff;
  }
  
  body {
    background-color: lightgray;
  }

  .btn-warning:hover {
    --bs-btn-hover-color: #ffc107;
    --bs-btn-hover-bg: black;
  }

  /* Pour le texte dans la carte 
  .card-title {
    color: #992b00; 
    font-weight: bold;
  }
  
  .card-body {
    color: #555; 
  }
  */